[submodule "processor/crates/metron"]
	path = processor/crates/metron
	url = https://github.com/Glubus/Metron

[submodule "processor/crates/roe"]
	path = processor/crates/roe
	url = https://github.com/Glubus/Rhythm-Open-Exchange
	branch = processor-extras
